@import "../../../styles/variables";

.button {
  border-radius: $size-h;
  border: 0;
  padding: 0 64px;
  height: $form-control-h;
  min-width: 200px;
  text-transform: uppercase;

  &__primary {
    color: $white;
    background-color: $red;
  }
}
