@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Thin.woff2') format('woff2'), url('Montserrat-Thin.woff') format('woff');
  font-style: normal;
}

* {
  font-family: Montserrat, serif;
}
