@import "styles/variables";
@import "assets/font/montserrat.css";

.container {
  width: 100%;
  max-width: 768px;
  align-self: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("assets/images/header-background.png");
  background-size: cover;
  background-position: center;
  height: 396px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 64px 0;
  margin-top: 16px;
  background-color: $black;
}

.movies-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}

.filter-results {
  color: $white;
  border-top: 2px solid $gray;
  padding: 26px 0;
  margin: 0;
}
